#barOne{
	display: flex;
	justify-content: space-around;
	background-color: black;
	padding: 0.5%;
}

.rd{
	color: red !important;
}



#pin {
	color: white;
	float: right;
	cursor: pointer;
}

.picR {
	margin-right: 1px;
}

.jumbotron {
	
	margin-bottom: 0;
	background-color: white;
	font-family: 'Knewave', cursive;
	color: red;

}

.bg {
	background-color: black;
}

#fit{

	height: 100vh;
	background-image: url(fit.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
    
}

#heartBox{
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-top: -10em;
	font-family: 'Knewave', cursive;
	width: 50%;
	margin-bottom: 10%;
	
}

.picL {
	margin-left: 10px;
}

li:hover {
	border-bottom: 3px;
	text-decoration-color: red;
	text-decoration: underline;
}

.carousel img {
 
	object-fit: contain;
	min-width: 100%;
	height: 500px;
	max-width: none;
}

.hd {
	display: flex;
	justify-content: center;
}

.spcFont {
	color: red;

}

#fb {
	color: #4267B2;
	cursor: pointer;
	margin-right: 1%;
}

#fb:hover {
	font-size: 10em;
}

#twt {
	color: #55ADED;
	cursor: pointer;
}

#twt:hover {
	font-size: 10em;
}

#prot {
	margin-top: 5%;
}

.divider {
	padding: 1%;
	background-color: black;
	color: white;
}

.bgc {
	background-color: black;
	color: white;
}

.btn {
	padding: 2px;
	outline: none;
}


